
@font-face {
    font-family: nazanin;
    src: url(../fonts/Vazir/Vazir.ttf);
}

@font-face {
    font-family: digit;
    src: url(../fonts/VazirDigit/Vazir-FD.ttf);
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/CinzelDecorative-Regular.ttf);
}


@font-face {
    font-family: inputFont;
    src: url(../fonts/Vazir/Vazir.ttf);
}

@font-face {
    font-family: roya;
    src: url(../fonts/Vazir/Vazir.ttf);
}

