div.footer{
    position : relative;
}

div.zarinpal{
    display : flex;
    position : absolute;
    bottom : 10px;
    left : 50%;
    transform : translateX(-50%);
    z-index : 4;
}

div.zarinpal a{
    margin : auto;
    
}